@font-face {
  font-family: 'IM Fell English';
  font-style: normal;
  font-weight: 400;
  src: local('IMFeENrm28P'),
       url('../fonts/IMFeENrm28P.ttf') format('truetype');
}
@font-face {
  font-family: 'Old Standard TT';
  font-style: normal;
  font-weight: 400;
  src: local('OldStandard-Regular'),
       url('../fonts/OldStandard-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Cutive Mono';
  font-style: normal;
  font-weight: 400;
  src: local('CutiveMono'),
       url('../fonts/CutiveMono-Regular.ttf') format('truetype');
}
body {
  font-family: 'IM Fell English', serif;
}
h1, h2, h3, h4, h5, h6, .nav, .article-duration, .archive-item-link, .footer {
  font-family: 'Old Standard TT', sans-serif;
}
